<aside style="display: none;"> <!-- display: none block -->
    <div>
        <h3>
            Filter
        </h3>
    </div>

    <div>
        Show All or select checkboxes of Incomplete, Work In Progress, Done tasks
    </div>
    <div>
        Show by Categories, home, workout, study, hobby, entertaintment, unset
    </div>
    <div>
        Filter by Added Time, Update Time, Completed at
    </div>
    <div>
        Filter by Priority Point
    </div>
    <div>
        Filter by Type, Milestone or Instant
    </div>
    
    <div>
        <input type="submit" value="Filter"> <!-- DEPENDS ON WILL FILTER BE AS A FORM OR REALTIME SYSTEM -->
    </div>
</aside>