<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- . -->
<aside 
style="
display: none;
visibility: hidden;
transform: translateX(-100%);
opacity: 0%;
transition: 150ms ease-in-out;
padding: 20px;
border: 1px solid rgb(128,128,128);
background-color: rgb(250, 240, 240);
max-width: 25%;
" 
id="filter_panel"
> <!-- display: none block -->  <!-- style="display: none;" -->
    {% csrf_token %}

    <div>
        <h3>
            {% if current_language == 'english' %}
                FILTER
            {% elif current_language == 'azerbaijani' %}
                FİLTR
            {% elif current_language == 'turkish' %}
                FİLTRE
            {% elif current_language == 'russian' %}
                ФИЛЬТР
            {% else %}
                FILTER
            {% endif %}
        </h3>
    </div>

    <br>

    <div>
        <b>
            {% if current_language == 'english' %}
                Show by Status:
            {% elif current_language == 'azerbaijani' %}
                Status üzrə göstər:
            {% elif current_language == 'turkish' %}
                Duruma Göre Göster:
            {% elif current_language == 'russian' %}
                Показать по статусу:
            {% else %}
                Show by Status:
            {% endif %}
        </b>
        <br>

        <input type="radio" name="filt_stat" id="filter_stat_all" value="all" {% if filt_stat == 'all' %}checked{% endif %}>
        <label for="filter_stat_all">
            {% if current_language == 'english' %}
                All
            {% elif current_language == 'azerbaijani' %}
                Hamısı
            {% elif current_language == 'turkish' %}
                Hepsi
            {% elif current_language == 'russian' %}
                Все
            {% else %}
                All
            {% endif %}
        </label>
        
        <input type="radio" name="filt_stat" id="filter_stat_inc" value="incomplete" {% if filt_stat == 'incomplete' %}checked{% endif %}>
        <label for="filter_stat_inc">
            {% if current_language == 'english' %}
                Incomplete
            {% elif current_language == 'azerbaijani' %}
                Başlanmayıb
            {% elif current_language == 'turkish' %}
                Henüz başlamadı
            {% elif current_language == 'russian' %}
                Еще не начато
            {% else %}
                Incomplete
            {% endif %}
        </label>
        
        <input type="radio" name="filt_stat" id="filter_stat_wip" value="wip" {% if filt_stat == 'wip' %}checked{% endif %}>
        <label for="filter_stat_wip">
            {% if current_language == 'english' %}
                Work In Progress
            {% elif current_language == 'azerbaijani' %}
                Davam Edən İş
            {% elif current_language == 'turkish' %}
                Devam Eden Çalışma
            {% elif current_language == 'russian' %}
                Работа в Процессе
            {% else %}
                Work In Progress
            {% endif %}
        </label>
        
        <input type="radio" name="filt_stat" id="filter_stat_don" value="done" {% if filt_stat == 'done' %}checked{% endif %}>
        <label for="filter_stat_don">
            {% if current_language == 'english' %}
                Done
            {% elif current_language == 'azerbaijani' %}
                Bitdi
            {% elif current_language == 'turkish' %}
                Tamamlandı
            {% elif current_language == 'russian' %}
                Готово
            {% else %}
                Done
            {% endif %}
        </label>
    </div>

    <br>

    <div>
        <b>
            {% if current_language == 'english' %}
                Show by Category:
            {% elif current_language == 'azerbaijani' %}
                Kateqoriyaya görə göstər:
            {% elif current_language == 'turkish' %}
                Kategoriye Göre Göster:
            {% elif current_language == 'russian' %}
                Показать по категориям:
            {% else %}
                Show by Category:
            {% endif %}
        </b>
        <br>
        
        <input type="checkbox" name="filt_categ" id="filter_categ_personal" value="Personal" {% if 'Personal' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_personal"> Personal </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_work" value="Work/PRO" {% if 'Work/PRO' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_work"> Work/PRO </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_home" value="Home" {% if 'Home' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_home"> Home </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_urgent" value="Urgent" {% if 'Urgent' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_urgent"> Urgent </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_study" value="Study/School" {% if 'Study/School' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_study"> Study/School </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_health" value="Health/Sport" {% if 'Health/Sport' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_health"> Health/Sport </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_shopping" value="Shopping" {% if 'Shopping' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_shopping"> Shopping </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_finance" value="Finance" {% if 'Finance' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_finance"> Finance </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_travel" value="Travel" {% if 'Travel' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_travel"> Travel </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_social" value="Social/Events" {% if 'Social/Events' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_social"> Social/Events </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_maintenance" value="Maintenance" {% if 'Maintenance' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_maintenance"> Maintenance </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_ltg" value="LongTermGoals" {% if 'LongTermGoals' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_ltg"> LongTermGoals </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_misc" value="Miscellaneous" {% if 'Miscellaneous' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_misc"> Miscellaneous </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_team" value="Team" {% if 'Team' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_team"> Team </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_creative" value="Creative" {% if 'Creative' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_creative"> Creative </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_learning" value="Learning/DEV" {% if 'Learning/DEV' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_learning"> Learning/DEV </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_family" value="Family" {% if 'Family' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_family"> Family </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_tech" value="Technology/IT" {% if 'Technology/IT' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_tech"> Technology/IT </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_volunteer" value="Volunteer" {% if 'Volunteer' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_volunteer"> Volunteer </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_projects" value="Projects" {% if 'Projects' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_projects"> Projects </label>

        <input type="checkbox" name="filt_categ" id="filter_categ_unset" value="Unset" {% if 'Unset' in filt_categ %}checked{% endif %}>
        <label for="filter_categ_unset"> Unset </label>
    </div>

    <br>

    <div>
        <b>
            {% if current_language == 'english' %}
                Show by Priority Point:
            {% elif current_language == 'azerbaijani' %}
                Prioritet dərəcəsinə görə göstər:
            {% elif current_language == 'turkish' %}
                Öncelik Puanına Göre Göster:
            {% elif current_language == 'russian' %}
                Показать по уровню приоритета:
            {% else %}
                Show by Priority Point:
            {% endif %}
        </b>
        <br>
        From: ←→ 1 <input id="filter_priority_min" name="filt_pp_min" type="range" min="1" max="10" step="1" value="1"> 10
        <br>
        To: ←→ 1 <input id="filter_priority_max" name="filt_pp_max" type="range" min="1" max="10" step="1" value="10"> 10
    </div>

    <br>

    <div>
        <b>
            {% if current_language == 'english' %}
                Show by Type:
            {% elif current_language == 'azerbaijani' %}
                Növə görə göstər:
            {% elif current_language == 'turkish' %}
                Türüne Göre Göster:
            {% elif current_language == 'russian' %}
                Показать по типу:
            {% else %}
                Show by Type:
            {% endif %}
        </b>
        <br>

        <input type="radio" name="filt_type" id="filter_type_all" value="all" {% if filt_type == 'all' %}checked{% endif %}>
        <label for="filter_type_all" style="text-transform: capitalize;"> all </label>

        <input type="radio" name="filt_type" id="filter_type_mil" value="milestone" {% if filt_type == 'milestone' %}checked{% endif %}>
        <label for="filter_type_mil" style="text-transform: capitalize;"> milestone </label>

        <input type="radio" name="filt_type" id="filter_type_ins" value="instant" {% if filt_type == 'instant' %}checked{% endif %}>
        <label for="filter_type_ins" style="text-transform: capitalize;"> instant </label>
    </div>

    <br>
    
    <div>
        <input style="
        background-color: transparent; 
        padding: 5px 10px; 
        color: rgb(0,0,0);
        border: 1px solid rgb(0,0,0);
        border-radius: 6px;
        " type="submit" value="Filter" onclick="filter_form()">
    </div>

    <script src="{% static 'js/filter.js' %}"></script>
</aside>