{% load static %}

<footer style="margin-top: 20px; background-color: rgb(245,245,245);"> <!-- . -->
    <div style="display: flex; justify-content: space-around;"> <!-- . -->
        <ul style="list-style: none;"> <!-- . -->
            <li>
                <img src="{% static 'img/logo/logo_black.png' %}" alt="task-mgmt-app" style="width: 100px;"> <!-- . -->
            </li>

            <li>
                <img src="{% static 'img/icons/phone-svgrepo-com.svg' %}" alt="phone-number" style="width: 20px;"> <!-- . -->
                +994 50 123 45 67
            </li>
            <li>
                <img src="{% static 'img/icons/email-svgrepo-com.svg' %}" alt="email-address" style="width: 20px;"> <!-- . -->
                task.mgmt.app@gmail.com
            </li>
            <li>
                <img src="{% static 'img/icons/pin-svgrepo-com.svg' %}" alt="address-line" style="width: 20px;"> <!-- . -->
                Address: Lorem Ipsum street 25
            </li>
        </ul>
        <ul style="list-style: none;"> <!-- . -->
            <li> header1 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
        <ul style="list-style: none;"> <!-- . -->
            <li> header2 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
        <ul style="list-style: none;"> <!-- . -->
            <li> header3 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
        <ul style="list-style: none;"> <!-- . -->
            <li> header4 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
    </div>
    <div style="display: flex; justify-content: space-around; background-color: rgb(220,220,220);"> <!-- . -->
        <span> Copyrights 2025 © All rights reserved </span>

        <span>
            <a href="#"> Terms & Conditions </a>
            <a href="#"> Privacy Policy </a>
        </span>
    </div>
</footer>