<footer>
    <div>
        <ul>
            <li> logo image </li>
            <li> phone </li>
            <li> email </li>
            <li> address </li>
        </ul>
        <ul>
            <li> header1 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
        <ul>
            <li> header2 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
        <ul>
            <li> header3 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
        <ul>
            <li> header4 </li>
            <li> x </li>
            <li> x </li>
            <li> x </li>
        </ul>
    </div>
</footer>