<nav>
    <span>
        <p> TM LOGO IMG </p>
    </span>
    
    <span>
        <ul>
            <!-- IF GUEST -->
            <li> Home </li>
            <li> About </li>
            <li> Contact </li>

            <!-- ELSE MEMBER -->
             <li> Home </li>
             <li> Create Task </li>
             <li> About </li>
             <li> Contact </li>
        </ul>
    </span>

    <span>
        <p> PROFILE IMAGE </p> <!-- DEFAULT IF GUEST, ELSE USER'S IMAGE -->

        <!-- DROPDOWN LIST -->
        <ul>
            <!-- IF GUEST -->
            <li> Login </li>
            <li> Register </li>

            <!-- ELSE MEMBER -->
            <li> Dashboard </li>
            <li> Starred </li>
            <li> Log </li>
            <li> Logout </li>
        </ul>
    </span>
</nav>