{% load static %}

<div style="border: 1px solid rgb(128,128,128); width: 450px; height: 250px; border-radius: 5px; overflow: hidden; display: flex; flex-direction: column; justify-content: space-around; align-items: center; background-color: rgb(240, 220, 220);">
    <div style="display: flex; justify-content: space-between;">
        <span>
            <button>
                {% if temp_all_cards_is_starred %}
                    <img src="{% static 'img/icons/star-svgrepo-com-empty.svg' %}" alt="not_starred" style="width: 30px;">
                {% else %}
                    <img src="{% static 'img/icons/star-svgrepo-com-filled.svg' %}" alt="starred" style="width: 30px;">
                {% endif %}
            </button>

            <span>
                {{ temp_all_cards_category }}
            </span>
        </span>
        <span>
            <button>
                <img src="{% static 'img/icons/edit-svgrepo-com.svg' %}" alt="update_task" style="width: 30px;">
            </button>

            <button>
                <img src="{% static 'img/icons/trash-bin-trash-svgrepo-com.svg' %}" alt="delete_task" style="width: 30px;">
            </button>
        </span>
    </div>

    <div>
        <p> TASK DESCRIPTION </p>
    </div>

    <div style="display: flex;">
        <button>
            < {{ temp_all_cards_priority }} > <!-- ANIMATED FLAME, PARTICLE AND FRAME RAISE, CHANGE COLOR FROM 1 TO 10, TIER EFFECTS -->
        </button>

        <div>
            Status:
            {% if temp_all_cards_type == 'instant' %}
                <button> incomplete </button>
                <button> work_in_progress </button>
                <button> done </button>
            {% else %}
                <button> - </button>

                <span>
                    {{ temp_all_cards_progress }} / of MAX_COUNT
                    <span></span> <!-- Milestone point as progression bar as background gradient, progress with percentage -->
                </span>

                <button> + </button>
            {% endif %}
        </div>
    </div>

    <!--  <img src="{% static 'img/categ/' %}" alt="CUSTOM BACKGROUND IMAGE BY CATEGORY WITH OVERLAY AND EFFECTS"> -->
</div>