<!-- ALLOWING STATIC FILES -->
{% load static %}

<div class="task_card">
<!-- COLOR GRADING LATER -->
    <div style="
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    ">
        <span>
            <b> ID: </b>
            {{ card.id }}
        </span>

        <span>
            <a href="{% url 'update_task' card.id %}" style="outline: none; border: none; background-color: transparent; text-decoration: none;">
                <img src="{% static 'img/icons/edit-svgrepo-com.svg' %}" alt="update_task" class="card_btn">
            </a>

            <a href="{% url 'delete_task' card.id %}" style="outline: none; border: none; background-color: transparent; text-decoration: none;">
                <img src="{% static 'img/icons/trash-bin-trash-svgrepo-com.svg' %}" alt="delete_task" class="card_btn">
            </a>
        </span>
    </div>

    <div style="
    width: 100%;
    margin: 20px 0px;
    "> <!-- . -->
        <p style="
        text-align: center;
        "> <!-- . -->
            <b>
                {% if current_language == 'english' %}
                    TO DO:
                {% elif current_language == 'azerbaijani' %}
                    TAPŞIRIQ:
                {% elif current_language == 'turkish' %}
                    GÖREV:
                {% elif current_language == 'russian' %}
                    ЗАДАЧА:
                {% else %}
                    TO DO:
                {% endif %}
            </b>
            {{ card.todo }}
        </p> <!-- SET LARGE LIMIT LIKE 256, IF DESCRIPTION IS OVERFLOW, CREATE READ MORE BUTTON FOR TOGGLE MORE/LESS or SCROLBAR-->

        <hr>

        <span>
            <div style="
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 90%;
            max-height: 100px;
            overflow-y: auto;
            "> <!-- . -->
                <b>
                    {% if current_language == 'english' %}
                        Categories:
                    {% elif current_language == 'azerbaijani' %}
                        Kateqoriyalar:
                    {% elif current_language == 'turkish' %}
                        Kategoriler:
                    {% elif current_language == 'russian' %}
                        Категории:
                    {% else %}
                        Categories:
                    {% endif %}
                </b>
                {% if card.category_of_task.all %}
                    {% for category in card.category_of_task.all %}
                        <span>
                            {{ category.name }}
                        </span>
                    {% endfor %}
                {% else %}
                    <span>
                        Unset
                    </span>
                {% endif %}
            </div>
        </span>

        <hr>

        <span style="
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        ">
            <p>
                <b>
                    {% if current_language == 'english' %}
                        Created:
                    {% elif current_language == 'azerbaijani' %}
                        Yaradıldı:
                    {% elif current_language == 'turkish' %}
                        Oluşturuldu:
                    {% elif current_language == 'russian' %}
                        Созданный:
                    {% else %}
                        Created:
                    {% endif %}
                </b>
                {{card.added_time}}
            </p>
            <p>
                <b>
                    {% if current_language == 'english' %}
                        Updated:
                    {% elif current_language == 'azerbaijani' %}
                        Yenilənib:
                    {% elif current_language == 'turkish' %}
                        Güncellendi:
                    {% elif current_language == 'russian' %}
                        Обновлено:
                    {% else %}
                        Updated:
                    {% endif %}
                </b>
                {{card.updated_time}}
            </p>
        </span>
    </div>

    <div style="
    width: 100%;
    display: flex;
    justify-content: space-around;
    "> <!-- . -->
        <div class="priority_badge">
            {{ card.priority_level }}
            <!-- ANIMATED FLAME, PARTICLE AND FRAME RAISE, CHANGE COLOR FROM 1 TO 10, TIER EFFECTS -->
            <!-- bootstrap animated for priority and status -->
        </div>

        <div style="display: flex; align-items: center; gap: 10px;">
            <b>
                {% if current_language == 'english' %}
                    Status:
                {% elif current_language == 'azerbaijani' %}
                    Vəziyyət:
                {% elif current_language == 'turkish' %}
                    Durum:
                {% elif current_language == 'russian' %}
                    Статус:
                {% else %}
                    Status:
                {% endif %}
            </b>
            {% if card.type_of_task_id == 1 %}
                {% if card.todo_status == 1 %}
                    <div style="
                    width: auto;
                    border: 1px solid rgb(255,255,255);
                    background-color: rgb(255,180,130);
                    outline: none;
                    padding: 5px;
                    filter: drop-shadow(0px 0px 10px rgb(255,200,150));
                    border-radius: 5px;
                    ">
                        {% if current_language == 'english' %}
                            Incomplete
                        {% elif current_language == 'azerbaijani' %}
                            Başlanmayıb
                        {% elif current_language == 'turkish' %}
                            Henüz başlamadı
                        {% elif current_language == 'russian' %}
                            Еще не начато
                        {% else %}
                            Incomplete
                        {% endif %}
                    </div> <!-- . -->
                {% elif card.todo_status == 2 %}
                    <div style="
                    width: auto;
                    border: 1px solid rgb(255,255,255);
                    background-color: rgb(255,255,100);
                    outline: none;
                    padding: 5px;
                    filter: drop-shadow(0px 0px 10px rgb(255,255,150));
                    border-radius: 5px;
                    ">
                        {% if current_language == 'english' %}
                            Work In Progress  
                        {% elif current_language == 'azerbaijani' %}
                            Davam Edən İş
                        {% elif current_language == 'turkish' %}
                            Devam Eden Çalışma
                        {% elif current_language == 'russian' %}
                            Работа в Процессе
                        {% else %}
                            Work In Progress
                        {% endif %}
                    </div> <!-- . -->
                {% elif card.todo_status == 3 %}
                    <div style="
                    width: auto;
                    border: 1px solid rgb(255,255,255);
                    background-color: rgb(100,200,100);
                    outline: none;
                    padding: 5px;
                    filter: drop-shadow(0px 0px 10px rgb(120,220,120));
                    border-radius: 5px;
                    ">
                        {% if current_language == 'english' %}
                            Done
                        {% elif current_language == 'azerbaijani' %}
                            Bitdi
                        {% elif current_language == 'turkish' %}
                            Tamamlandı
                        {% elif current_language == 'russian' %}
                            Готово
                        {% else %}
                            Done
                        {% endif %}
                    </div> <!-- . -->
                {% endif %}
            {% else %}
                <span style="
                position: relative;
                border: 1px solid rgb(180,180,180);
                width: 200px;
                "> <!-- . -->
                    <span style="
                    position: relative;
                    z-index: 5;
                    padding: 10px;
                    width: 100%;
                    "> <!-- . -->
                        {% if card.progression_start != card.progression_end %}
                            {{ card.progression_start }} of {{ card.progression_end }}
                        {% else %}
                            {% if current_language == 'english' %}
                                COMPLETED
                            {% elif current_language == 'azerbaijani' %}
                                BİTDİ
                            {% elif current_language == 'turkish' %}
                                TAMAMLANDI
                            {% elif current_language == 'russian' %}
                                ЗАВЕРШЕННЫЙ
                            {% else %}
                                COMPLETED
                            {% endif %}
                        {% endif %}
                    </span>

                    <span id="progression_bar_{{card.id}}" style="
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    height: 100%;
                    overflow: hidden;
                    background-color: transparent;
                    z-index: 1;
                    "> <!-- . -->
                        <span id="bar_stat_{{card.id}}" style="
                        position: absolute;
                        width: 200px;
                        height: 100%;
                        background: linear-gradient(to right, rgba(255,255,128,1.0), rgba(255,200,50,1.0));
                        z-index: 2;
                        "></span> <!-- . -->
                    </span>
                </span>

                <span style="display: none;">
                    <span id="hidden_start_tag_{{card.id}}">{{card.progression_start}}</span>
                    <span id="hidden_end_tag_{{card.id}}">{{card.progression_end}}</span>
                    <script src="{% static 'js/task_card.js' %}" id="{{card.id}}" onload="milestone_percentage(this.id)"></script>
                </span>
            {% endif %}
        </div>
    </div>
</div>