<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Authentication
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div>
        <a href="{% url 'tasks_list' %}">
            ◄ Back to Home Page
        </a>
    </div>

    <div>
        <h2> REGISTER </h2>
        
        <br>

        <form method="post">
            {% csrf_token %}
    
            {{ creation_form.as_p}}
    
            <input type="submit" value="Sign Up">
        </form>
    </div>

    <div>
        <a href="{% url 'sign_in' %}">
            Login
        </a>
    </div>
{% endblock %}
