<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Authentication
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <!-- <div>
        <a href="{% url 'tasks_list' %}">
            ◄ Back to Home Page
        </a>
    </div> -->

    <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    ">
        <h2 style="
        margin-top: 20px;
        "> REGISTER </h2>
        
        <br>

        <form method="post" style="
        display: flex; 
        flex-direction: column; 
        gap: 20px; 
        margin: 20px 0 50px 0; 
        border: 1px solid rgb(128,128,128); 
        border-radius: 10px; 
        padding: 50px;
        background-color: rgb(64,64,64);
        color: rgb(220,220,220);
        ">
            {% csrf_token %}
    
            {{ creation_form.as_p}}
    
            <input type="submit" value="Sign Up" style="
            align-self: center;
            padding: 10px;
            background-color: rgb(0,0,255);
            color: rgb(255,255,255);
            border: 1px solid rgb(255,255,255);
            border-radius: 6px;
            filter: drop-shadow(0 0 0px rgb(255,255,255));
            transform: scale(1, 1);
            transition: 150ms ease-in-out;
            " onmouseenter="
            this.style.backgroundColor = `rgb(255,255,255)`
            this.style.color = `rgb(0,0,255)`
            this.style.transform = `scale(1.1, 1.1)`
            this.style.filter = `drop-shadow(0 0 10px rgb(0,0,255))`
            " onmouseleave="
            this.style.backgroundColor = `rgb(0,0,255)`
            this.style.color = `rgb(255,255,255)`
            this.style.transform = `scale(1, 1)`
            this.style.filter = `drop-shadow(0 0 0px rgb(255,255,255))`
            ">
        </form>
    </div>

    <div style="
    display: flex; 
    justify-content: center; 
    gap: 50px;
    filter: drop-shadow(0 0 0px rgb(255,255,255));
    ">
        <a href="{% url 'sign_in' %}" style="
        text-decoration: none;
        color: rgb(0,0,0);
        transition: 100ms linear;
        " onmouseenter="
        this.style.color = `rgb(255,255,255)`
        this.style.filter = `drop-shadow(0 0 6px rgb(0,0,0))`
        " onmouseleave="
        this.style.color = `rgb(0,0,0)`
        this.style.filter = `drop-shadow(0 0 0px rgb(255,255,255))`
        ">
            Login
        </a>
    </div>
{% endblock %}
