.btn {
    background-color: rgb(255,0,0);
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.btn:hover {
    background-color: rgb(255,255,255);
}

.priority_badge {
    border: 1px solid rgb(128,128,128);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0,0,0);
    filter: drop-shadow(0 0 1px rgb(0,0,0));
}
