.btn {
    background-color: rgb(255,0,0);
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.btn:hover {
    background-color: rgb(255,255,255);
}

.priority_badge {
    border: 1px solid rgb(0,0,0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}
