<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Contact Us
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div style="background-color: rgb(100,100,100); min-height: 850px;">
        <h3> CONTACT US </h3>

        <br>

        <div>
            <div>
                Google/Yandex/Any MAP with free API
            </div>

            <div>
                We’d love to hear from you! Whether you have questions, feedback, or need help with the app, don’t hesitate to reach out.
                <br>
                <br>
                Email:
                <br>
                For support or inquiries, you can email us directly at support@taskmanagementapp.com. We aim to respond within 24 hours.
                <br>
                <br>
                Social Media:
                <br>
                Stay connected with us on our social channels:
                <br>
                <span>
                    <button>
                        Facebook
                        <img src="" alt="">
                    </button>
                    <button>
                        Twitter
                        <img src="" alt="">
                    </button>
                    <button>
                        LinkedIn
                        <img src="" alt="">
                    </button>
                </span>
                <br>
                Feedback:
                <br>
                Your feedback is important to us. If you have any suggestions or ideas for improvement, we’re always open to hearing how we can make Task Management App even better.
                <br>
                <br>
                We're here to help, and we’ll do our best to respond to your query as soon as possible!
            </div>
        </div>
    </div>
    <!-- {{ untitled_data }} -->
    <!-- top header -->
    <!-- left side, with google, 2gis, yandex or any free api, put a map for location -->
    <!-- right side, small information, location address, phone number, email, etc -->
{% endblock %}


