<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Create Task #?
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div style="background-color: rgb(100,100,100); min-height: 850px;">
        <h3 class="form_headers"> CREATE NEW TASK </h3>

        <br>

        <form method="post" class="db_form">
            {% csrf_token %}

            {{ task_form.as_p }}

            <button type="submit"> + Create </button>
        </form>
    </div>
{% endblock %}
