<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Dashboard
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div style="background-color: rgb(100,100,100); min-height: 850px;"> DASHBOARD OF ACTIVE USER </div>

    {{ untitled_data }}

    <div>
        <span> ◄• toplam nece task yaradilib •► </span> <br>
        <span> ◄• nece silinib •► </span> <br>
        <span> ◄• nece priority 10 taskim olub •► </span> <br>
        <span> ◄• nece lvl5 •► </span> <br>
        <span> ◄• nece taski tamamlamisam •► </span> <br>
        <span> ◄• nece task yaradilib ve s melumatlar olan profile bolmesi kimi bir sehife •► </span> <br>
        <span> ◄• log a gore tam melumatlari hesabla •► </span>
    </div>
{% endblock %}
