<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Dashboard
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div style="background-color: rgb(100,100,100); min-height: 850px;">
        <h3> MY DASHBOARD </h3>

        <br>

        <div>
            <div>
                <!-- 2 AXIS GRAPH FOR SOME DATA -->
            </div>
            <div>
                <!-- PIE DIAGRAM FOR SOME DATA -->
            </div>
            <div>
                <!-- STATISTIC BARS (HISTOGRAM) FOR SOME DATA -->
            </div>
        </div>

        <div>
            <div>
                <!-- CARD 1 FOR SOME DATA -->
            </div>
            <div>
                <!-- CARD 2 FOR SOME DATA -->
            </div>
            <div>
                <!-- CARD 3 FOR SOME DATA -->
            </div>
        </div>
    </div>
    <!-- {{ untitled_data }} -->
    <!-- toplam nece task yaradilib -->
    <!-- nece silinib -->
    <!-- nece priority 10 taskim olub -->
    <!-- nece lvl5 -->
    <!-- nece taski tamamlamisam -->
    <!-- nece task yaradilib ve s melumatlar olan profile bolmesi kimi bir sehife -->
    <!-- log a gore tam melumatlari hesabla -->
{% endblock %}
