<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Log
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div style="background-color: rgb(100,100,100); min-height: 850px;">
        <h3> LOG HISTORY </h3>

        <br>

        <div>
            <table>
                <tr>
                    <th> № </th>
                    <th> Category (Error Message, Success Message, Authentication, ...) </th>
                    <th> Event </th>
                    <th> Date & Time </th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <div>
                <!-- PAGINATION -->
            </div>
        </div>
    </div>
    <!-- {{ untitled_data }} -->
    <!-- CREATE ARCHIVE CLASS INSIDE MODELS OR CREATE JSON FILE FOR COLLECTING NOTIFICATIONS AND EVENTS AS LOG -->
{% endblock %}
