<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Log
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <div style="background-color: rgb(100,100,100); min-height: 850px;">
        <h3> LOG HISTORY </h3>

        <br>

        <div>
            <table>
                <tr>
                    <th> № </th>
                    <th> Category </th> <!-- Create, Update, Delete, Error, Authentication -->
                    <th> Event </th>
                    <th> Date & Time </th>
                </tr>

                {% if log %}
                    {% for row in log %}
                        <tr id={{row.id}}>
                            <td> {{ row.id }}  </td>
                            <td> {{ row.category }}  </td>
                            <td> {{ row.event }}  </td>
                            <td> {{ row.datentime }}  </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <p> EMPTY </p>
                    </tr>
                {% endif %}
            </table>

            <div>
                PAGINATION
            </div>
        </div>
    </div>
    <!-- {{ untitled_data }} -->
    <!-- CREATE ARCHIVE CLASS INSIDE MODELS OR CREATE JSON FILE FOR COLLECTING NOTIFICATIONS AND EVENTS AS LOG -->
{% endblock %}
