<!-- BRINGING BASE LAYOUT HTML -->
{% extends '../base/layout.html' %}

<!-- TITLE OF THE PAGE -->
{% block title %}
    TM | Home
{% endblock %}

<!-- ALLOWING STATIC FILES -->
{% load static %}

<!-- CONTENT OF THE PAGE -->
{% block content %}
    <!-- NOTIFICATIONS -->
    <!-- <div>
        {% if messages %}
            {% for message in messages %}
                <p> {{ message }} </p>
            {% endfor %}
        {% endif %}
    </div> -->

    <!-- CONTAINER -->
    <div style="background-color: rgb(100,100,100); min-height: 850px;"> <!-- . -->
        {% include '../base/control_bar.html' %}

        <div style="display: flex; justify-content: center; margin: 20px 10px 0px 10px;"> <!-- style="display: flex; justify-content: center; margin: 20px 10px 20px 10px;" -->
            {% include '../base/filter.html' %}

            <main style="width: 100%;"> <!-- . --> <!-- GRID_VIEW_CLASS/LIST_VIEW_CLASS, WITH SAME HTML STRUCTURE -->
                <div style="
                display: flex;
                justify-content: space-around;
                align-items: center;
                "> <!-- . -->
                    <h2 style="color: rgb(255,255,255);">
                        {% if tasks.count > 0 %}
                            <!-- TASKS: {{ tasks.count }} -->
                            TASKS: {{ count }}
                        {% else %}
                            TASKS: 0
                        {% endif %}
                    </h2> <!-- . -->

                    <button>
                        Clear
                    </button> <!-- REMOVE BUTTON FOR ALL COMPLETED TASKS | ACCEPT WITH POP UP WINDOW BEFORE POST -->
                </div>

                <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 10px; padding: 10px;"> <!-- . -->
                    {% if view_mode == 'grid_cards' %}
                        <!-- HOMEPAGE WITH GRID VIEW -->
                        {% if tasks %}
                            {% for card in tasks %}
                                {% include '../base/task_card.html' %}
                            {% endfor %}
                        {% else %}
                            <div style="display: flex; justify-content: center; align-items: center; font-size: 5em">
                                Empty
                            </div>
                        {% endif %}
                    {% elif view_mode == 'list_cards' %}
                        <!-- HOMEPAGE WITH LIST VIEW -->
                        <div>
                            <table style="background-color: rgb(255,255,255); border-collapse: collapse; border: 1px solid rgb(0,0,0);">
                                <tr>
                                    <th style="border: 1px solid rgb(0,0,0);"> ID </th>
                                    <th style="border: 1px solid rgb(0,0,0);"> Update/Delete </th>
                                    <th style="border: 1px solid rgb(0,0,0);"> To Do </th>
                                    <th style="border: 1px solid rgb(0,0,0);"> Categories </th>
                                    <th style="border: 1px solid rgb(0,0,0);"> Priority Point </th>
                                    <th style="border: 1px solid rgb(0,0,0);"> Status </th>
                                </tr>

                                {% if tasks %}
                                    {% for card in tasks %}
                                        <tr>
                                            <td style="border: 1px solid rgb(0,0,0);">
                                                {{card.id}}
                                            </td>
                                            <td style="border: 1px solid rgb(0,0,0);">
                                                <a href="{% url 'update_task' card.id %}"> Update </a>
                                                <a href="{% url 'delete_task' card.id %}"> Delete </a>
                                            </td>
                                            <td style="border: 1px solid rgb(0,0,0);">
                                                {{card.todo}}
                                            </td>
                                            <td style="border: 1px solid rgb(0,0,0);">
                                                {% if card.category_of_task.all %}
                                                    {% for category in card.category_of_task.all %}
                                                            {{ category.name }},
                                                    {% endfor %}
                                                {% else %}
                                                    Unset
                                                {% endif %}
                                            </td>
                                            <td style="border: 1px solid rgb(0,0,0);">
                                                {{card.priority_level}}
                                            </td>
                                            <td style="border: 1px solid rgb(0,0,0);">
                                                {% if card.type_of_task_id == 1 %}
                                                    {% if card.todo_status == 1 %}
                                                        Incomplete
                                                    {% elif card.todo_status == 2 %}
                                                        WIP
                                                    {% elif card.todo_status == 3 %}
                                                        Done
                                                    {% endif %}
                                                {% else %}
                                                    {% if card.progression_start != card.progression_end %}
                                                        {{ card.progression_start }} of {{ card.progression_end }}
                                                    {% else %}
                                                        Completed
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    {% endif %}
                </div>

                <div>
                    PAGINATION IF OVER THE CHOOSEN LIMIT / SHOW MORE BUTTON FOR LOADING / USING BOOTSTRAP (INCLUDED LOG PAGE)
                </div>
            </main>
        </div>
    </div>
{% endblock %}
